html, body{
    margin: 0;
    height: 100%;
}

/* من الخواص التي يجب تغيرها لكي تصل للمطلوب
    1. لون الخلفيه
    2. الطول والعرض
    3. الهوامش
    4. الحواشي
    5. نوع العرض
    6. border radius */

/* عند الحاجه w3schools قم بالاستعانه بموقع  */

.sidebar{
 background-color: aliceblue;   
 color: aqua;
 width: 120px;
 text-align: center;
 padding: 6px;
    /* pxالعرض هنا يجب ان يكون 120 */  
}
.header{
 height: 24%;  
 background-color: aquamarine;
 padding: 5px;
 display: inline-block;
 color: azure;
 width: 100%;
    /* pxالطول هنا يجب ان يكون 80 */
}

ul
list-style-type:none

{color: blueviolet;
    text-align: left;
    margin: 0px;
}
.main{
background-color: aqua;  
height: 73%;  
margin-top: 8px;
color: aquamarine;
width: 80%;

    /* اجعل شكل اللنك من غير خط اسفل الكلام */
}

/* !بــونص */
/* (hover) اجعل اللنك يتغير لونه الى الابيض عند التأشير عليه */
/* (p) غير محاذاة الفقرات لتصبح بالوسط */



h1{
    margin: 0;
    margin-right: 5px;
}

h2{
    margin: 0;
    margin-left: 5px;
}

